html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.menu {
    background-color: crimson;
    padding: 10px 0;
    width: 100%;
    z-index: 8;
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    list-style-type: none;
    margin: 0 10px;
    display: inline;
    position: relative;
    top: 0.2rem;
    margin-left: 1rem;
    padding: 15px 20px;
}

.github {
    position: relative;
    right: 3rem;
    top: 0.5rem!important;
}

.linkedin {
    position: relative;
    top: 0.5rem!important;
}

.menu ul li a {
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition-delay: 0.02s;
    transition-duration: 0.5s;
    position: relative;
    top: -0.5rem;
}

.menu ul li a:hover {
    color: black;
    transform: scale(1.1);
}

.main-heading {
    margin-right: 25rem!important;
}

.portfo {
    font-size: 2rem!important;
    position: relative;
    top: -0.2rem!important;
    color: white;
}

.section0, .section1, .section2, .section3, .section4 {
    min-height: 100vh;
    min-width: 100%;
    box-sizing: border-box;    
}

.section0 {
    background-image: url("images/directionbg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding-top: 8rem;
    animation-name: section-zero;
    animation-delay: 0.3s;
    animation-duration: 3s;
}
@keyframes section-zero {
    from {
        transform: translateY(-4px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section1 {
    background-color: white;
    border: 2px solid white;
}

.section2 {
    background-color:rgb(250, 241, 224);
}

.section3 {
    background-color: orangered;
}

.section4 {
    background-color: seagreen;
}

.content-info {
    width: 45%;
    height: 25rem;
    margin-top: -3.5rem;
    margin-left: 2rem;
    z-index: 1;
}

.email-dev {
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    position: relative;
    top: 1.4rem;
    left: 2.5rem;
    word-spacing: 0.6rem;
    letter-spacing: 0.2rem;
    animation-name: email-dev;
    animation-delay: 0.3s;
    animation-duration: 3s;
}
@keyframes email-dev {
    from {
        transform: translateY(-700px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 0.4rem;
    margin-left: 9.5rem;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
}

.go {
    color: skyblue;
}

.ddt {
    color: white;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1rem;
    position: relative;
    left: 4.5rem;
    animation-name: ddt;
    animation-delay: 0.3s;
    animation-duration: 3s;
}
@keyframes ddt {
    from {
        transform: translateY(400px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.project-btn {
    background-color: crimson;
    color: white;
    padding: 15px 25px;
    position: relative;
    border-radius: 10px;
    left: 13rem;
    top: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    box-shadow: 3px 3px 15px 1px skyblue;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}
.project-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: crimson;
    opacity: 0.8;
    color: black;
}

.profile-pic {
    width: 25rem;
    max-width: 100%;
    height: 25rem;
    float: right;
    display: block;
    margin-top: -25rem;
    margin-right: 5rem;
    border: none;
    background-image: url("images/mrgeraldpropic.jpg");
    background-position: top center;
    background-size: cover;
    border-radius: 50%;
    animation-name: profile-pic;
    animation-delay: 0.3s;
    animation-duration: 3s;
}
@keyframes profile-pic {
    from {
        transform: translateX(1000px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.section1 h2 {
    text-align: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.horizontal-line {
    background-color: crimson;
    height: 2px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.abt-content {
    border: 2px solid crimson;
}
.abt-text {
    width: 40%;
    margin-left: 4rem;
    margin-top: 2.5rem;
    line-height: 1.3rem;
    font-size: 1rem;
}
.abt-img {
    width: 35rem;
    max-width: 100%;
    height: auto;
    float: right;
    margin-right: 5rem;
    margin-top: -30rem;
    border: none;
    border-radius: 50%;
}

.abt-btns {
    float: right;
    margin-right: 14rem;
    margin-top: -4rem;
}

.cv-btn {
    padding: 0.5rem 2.5rem;
    background-color: crimson;
    color: white;
    font-weight: bold;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}
.cv-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: black;
}

.contact-btn {
    padding: 0.5rem 2rem;
    background-color: white;
    color: crimson;
    font-weight: bolder;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}
.contact-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: black;
}

.contact-b {
    padding-left: 1rem;
}

.section2 h2 {
    text-align: center;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1rem;
}

.skills-leftside {
    max-width: 40%;
    border: 2px solid crimson;
    margin-left: 5rem;
    margin-top: 6rem;
    padding-right: 1rem;
}

.skills-leftside li {
    font-family: Arial, Helvetica, sans-serif;
}


.skills-rightside {
    width: 30rem;
    border: 2px solid crimson;
    float: right;
    margin-right: 5rem;
    margin-top: -22rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.skills-rightside li {
    margin: 20px 0;
    list-style-type: none;
}

.bar {
    background-color: black;
    display: block;
    height: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px gray;
    transition-duration: 0.2s;
}
.bar:hover {
    transform: scale(1.02);
}

.bar span {
    height: 6px;
    float: left;
    background-color: crimson;
}

.html-skill {
    width: 90%;
}

.css-skill {
    width: 70%;
}

.git-skill {
    width: 65%;
}

.github-skill {
    width: 60%;
}

.skill-label {
    position: relative;
    top: -9px;
    font-family: Arial, Helvetica, sans-serif;
}