html, body {
    margin: 0;
    padding: 0;
    background-color: burlywood;
    scroll-behavior: smooth;
}


.menu {
    background-color: crimson;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 8;

}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;

}

.menu ul li {
    list-style-type: none;
    margin: 0 10px;
    display: inline;
    position: relative;
    top: 0.2rem;
    margin-left: 1rem;
    padding: 15px 20px;
}
.github {
    position: relative;
    right: 2rem;
    top: 0.5rem!important;
}
.linkedin {
    position: relative;
    top: 0.5rem!important;

}

.menu ul li a {
    font-size: 1rem;
    line-height: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    transition-delay: 0.02s;
    transition-duration: 0.8s;
    position: relative;
    top: -0.5rem;
}

.menu ul li a:hover {
    color: black;
    transform: scale(1.1);
}

.main-heading {
    margin-right: 25rem!important;
}

.portfo {
    font-size: 2rem!important;
    position: relative;
    top: -0.2rem!important;
}

.section0, .section1, .section2, .section3, .section4 {
    min-height: 100vh;

    
}

.section0 {
    background-color: aqua;
    background-image: url("images/woodbg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.section1 {
    background-color: crimson;
}

.section2 {
    background-color: yellow;
}

.section3 {
    background-color: orangered;
}

.section4 {
    background-color: seagreen;
}

.content-info {
    width: 45%;
    height: 25rem;
    border: 1px solid black;
    box-shadow: 2px 2px 10px 4px white;
    position: relative;
    top: 4rem;
    left: 5rem;
    z-index: 1;
}

.email-dev {
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    word-spacing: 0.6rem;
    letter-spacing: 0.4rem;
}

.name {
    font-size: 2.4rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    word-spacing: 0.4rem;
    letter-spacing: 0.2rem;
}

.go {
    color: skyblue;
}

.ddt {
    color: white;
}

.project-btn {
    background-color: crimson;
    padding: 15px 25px;
    position: relative;
    left: 4.3rem;
    top: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}


